In [3]:
import pandas as pd
import ScopusFunctions

Okay so first I need to combine all the papers I have into one big dataframe.  I had set up the initial query by department, so all the department papers need to be combined now.

In [107]:
math = pd.read_csv('BrandeisMath/MathDeptPapers_04032019.csv')
chem = pd.read_csv('BrandeisChemistry/ChemistryPapers.csv')
bio = pd.read_csv('BrandeisBiology/BiologyPapers.csv')
biochem = pd.read_csv('BrandeisBiochemistry/BiochemistryPapers.csv')
compSci = pd.read_csv('BrandeisComputerScience/ComputerSciencePapers.csv')

In [108]:
depts = [math, chem, bio, biochem, compSci]
AllPapers=pd.concat(depts)
AllPapers.columns
AllPapers= AllPapers.drop('Unnamed: 0', axis=1)

In [109]:
AllPapers.to_csv('AllPapers.csv') #save the dataframe.

In [113]:
FacultyList = pd.read_csv('ListOfFaculty.csv')
FacultyList

       FirstName        LastName              Dept       authID  TotalPapers
0        Richard        Alterman  Computer Science   7004102295           45
1          Mitch       Cherniack  Computer Science   7004608592           25
2      Antonella         DiLillo  Computer Science  57192541823            5
3      Antonella         DiLillo  Computer Science  18233595000            0
4            Tim          Hickey  Computer Science   7005100186           47
5         Pengyu            Hong  Computer Science  14630423200           34
6         Hongfu             Liu  Computer Science  54389423300            0
7          Harry         Mairson  Computer Science   6701368216           46
8         Sophia        Malamund  Computer Science  55145545400            0
9          Marie          Meteer  Computer Science   6602952941            0
10          Olga   Papaemmanouil  Computer Science  10739068200            0
11        Jordan         Pollack  Computer Science   7101673933            0
12         James     Pustejovsky  Computer Science   6602448845          107
13       R. Pito           Salas  Computer Science  57201573164            2
14         Liuba          Shrira  Computer Science   6603527962           49
15           Jim          Storer  Computer Science  57000678400            0
16  Nianwen Bert             Xue  Computer Science  36777746400            0
17        Niels         Bradsahw      Biochemistry  16743471000            0
18          Jeff          Gelles      Biochemistry   7003919851           72
19        Tijana        Ivanovic      Biochemistry  15057884100           13
20        Julia           Kardon      Biochemistry   6602435858            0
21      Dorothee            Kern      Biochemistry   7202524433           57
22         Chris          Miller      Biochemistry  57203627594          187
23        Daniel          Oprian      Biochemistry   7003418485           72
24  Maria-Eirini        Pandelia      Biochemistry  27867996100            0
25        Thomas       Pochapsky      Biochemistry   7005475011          105
26        Dagmar           Ringe      Biochemistry   7005585050          246
27       Timothy          Street      Biochemistry   8725110300           22
28       Douglas        Theobald      Biochemistry   7003695166           34
29         Susan          Birren           Biology   6701764644           35
..           ...             ...               ...          ...          ...
62         Grace             Han         Chemistry  57193644421            9
63       Lizbeth        Hedstrom         Chemistry   7005260425          141
64        Judith        Herzfeld         Chemistry   7005436497          179
65         isaac          Krauss         Chemistry   6701668438           28
66        Thomas       Pochapsky         Chemistry   7005475011          105
67        Dagmar           Ringe         Chemistry   7005585050          246
68         Klaus    Schmidt-Rohr         Chemistry   7005226250          236
69         Barry          Snider         Chemistry   7101719649          283
70          Bing              Xu         Chemistry  57203463554            0
71          Mark           Adler              Math  57203872422           66
72         Corey         Bregman              Math  57195476259            2
73          Joel       Bellaiche              Math  12647162300           28
74       Olivier        Bernardi              Math  24375984000           34
75          Ruth         Charney              Math   7003953107           36
76       Charlie  Cosnier-Horeau              Math  56549014000            0
77        Thomas             Fai              Math  55543194600            0
78            An           Huang              Math  56267676800            6
79       Kiyoshi           Igusa              Math   6602289678           36
80      Jonathan        Jaquette              Math  57193737577            0
81        Dmitry       Kleinbock              Math   6603420927           39
82          Bong            Lian              Math   7005535163           35
83    Konstantin         Matveev              Math  57203257494           13
84          Alan           Mayer              Math  16656679800            4
85         Keith         Merrill              Math  26432163700            7
86          Omer           Offen              Math  56539877700           26
87         Denis       Patterson              Math  56346981900            0
88        Daniel        Ruberman              Math   6602190024           51
89       Rebecca          Torrey              Math  54880105200            5
90      Jonathan         Touboul              Math  23029252800           55
91          John          Wilmes              Math   8561575200            0

[92 rows x 5 columns]

In [128]:
for index, person in FacultyList.iterrows():
    if person['TotalPapers'] != 0:
        firstName = person['FirstName']
        lastName = person['LastName']
        CollectedPapers=AllPapers.loc[((AllPapers.FacultyLastName == lastName) & (AllPapers.FacultyFirstName == firstName))|((AllPapers.FacultyLastName == firstName) & (AllPapers.FacultyFirstName == lastName))]
        count = CollectedPapers.nunique()['ScopusID']
        print(firstName, count)

Richard 45
Mitch 25
Antonella 5
Tim 47
Pengyu 34
Harry 46
James 107
R. Pito 2
Liuba 49
Jeff 72
Tijana 13
Dorothee 57
Chris 187
Daniel 72
Thomas 105
Dagmar 246
Timothy 22
Douglas 34
Susan 35
Paul 55
Bruce 108
Leslie 105
James 300
Kenneth  Series([], Name: ScopusID, dtype: int64)
Lizbeth 141
Sebastian 48
Melissa 12
Elaine 17
Susan 81
Eve 272
Michael 34
Paul 47
Suzanne 24
Dan 25
Joan 35
Ruibao 71
Avital 38
Piali 88
Neil 41
Gina 98
Stephen 34
Lawrence 72
Li 61
Irving 419
Grace 9
Lizbeth 141
Judith 179
isaac 28
Thomas 105
Dagmar 246
Klaus 236
Barry 283
Mark 66
Corey 2
Joel 28
Olivier 34
Ruth 36
An 6
Kiyoshi 36
Dmitry 39
Bong 35
Konstantin 13
Alan 4
Keith 7
Omer 26
Daniel 51
Rebecca 4
Jonathan 55

,FacultyLastName,FacultyFirstName,authList,title,Year,Journal,citation,ScopusID
315,Richard,Alterman,"Krisler B., Alterman R.","Inline training: A technique for continuous, w...",2018,Research in Learning Technology,"Krisler B., Alterman R.. 2018. Inline training...",85055833343